<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Komai</Name>
    <Version>__VERSION__</Version>
    <Title>Komai Installer</Title>
    <Publisher>Mujx</Publisher>
    <ProductUrl>https://github.com/Komai-Reborn/komai</ProductUrl>
    <InstallerWindowIcon>komai</InstallerWindowIcon>
    <InstallerApplicationIcon>komai</InstallerApplicationIcon>
    <Logo>komai.png</Logo>
    <StartMenuDir>Komai</StartMenuDir>
    <TargetDir>@ApplicationsDir@/komai</TargetDir>
    <RunProgram>@TargetDir@/komai.exe</RunProgram>
    <ControlScript>controlscript.qs</ControlScript>
</Installer>
